/* Selector type */
nav { background: #2C3E50; padding: 10px; }
/* Selector descendant */
nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
/* Pseudo-class */
nav a:hover { color: #F39C12; }
/* Class */
.aktif { font-weight: bold;
    border-bottom: 2px solid #F39C12; }
/* Direct child */
.kartu > h2 { color: #2471A3; }
/* Attribute selector */
input[type='text'] {
    border: 2px solid #BDC3C7;
    padding: 8px;
    border-radius: 4px;
}
input[type='text']:focus {
    border-color: #2471A3;
    outline: none;
}
/* Siapa yang menang? *//* (0,0,0,1) */
p { color: black; }
/* (0,0,1,0) — menang dari p */
.teks-biru { color: blue; }
/* (0,1,0,0) — menang dari .teks-biru */
#teks-merah { color: red; }
/* Dua class — sama specificity, */
/* yang terakhir menang */
.a { color: orange; }
.b { color: purple; }
/* <p class='a b'> → purple */